<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965932743874-3h77n9sfsu0kve1mce5th7j6mgh3avob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965932743874-3h77n9sfsu0kve1mce5th7j6mgh3avob</string>
	<key>API_KEY</key>
	<string>AIzaSyBjVhdl6l_pwDCLplGZoRgWnR_An6CAZDA</string>
	<key>GCM_SENDER_ID</key>
	<string>965932743874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eman</string>
	<key>PROJECT_ID</key>
	<string>eman-fbaaa</string>
	<key>STORAGE_BUCKET</key>
	<string>eman-fbaaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965932743874:ios:09b6b3037ab3b6fa598f5b</string>
	<key>DATABASE_URL</key>
	<string>https://eman-fbaaa-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>